/DjangoRESTFirst/config/__pycache__
/DjangoRESTFirst/snippets/__pycache__
/DjangoRESTFirst/snippets/migrations/__pycache__
/DjangoVueFirst/common/__pycache__
/DjangoVueFirst/common/migrations/__pycache__
/DjangoVueFirst/config/__pycache__
/DjangoVueFirst/first/__pycache__
/DjangoVueFirst/first/migrations/__pycache__
/VueTest/youtube/3.number_baseball/dist
/VueTest/youtube/3.number_baseball/node_modules
/VueTest/youtube/4.response_check/dist
/VueTest/youtube/4.response_check/node_modules
/VueTest/youtube/5.rps/dist
/VueTest/youtube/5.rps/node_modules
/VueTest/withFlask/__pycache__
/VueTest/e-learning 
/VueTest/youtube 