/DjangoRESTFirst/config/__pycache__
/DjangoRESTFirst/snippets/__pycache__
/DjangoRESTFirst/snippets/migrations/__pycache__
/DjangoVueFirst/common/__pycache__
/DjangoVueFirst/common/migrations/__pycache__
/DjangoVueFirst/config/__pycache__
/DjangoVueFirst/first/__pycache__
/DjangoVueFirst/first/migrations/__pycache__