/DjangoRESTFirst/config/__pycache__
/DjangoRESTFirst/snippets/__pycache__
/DjangoRESTFirst/snippets/migrations/__pycache__
/DjangoVueFirst/common/__pycache__
/DjangoVueFirst/common/migrations/__pycache__
/DjangoVueFirst/config/__pycache__
/DjangoVueFirst/first/__pycache__
/DjangoVueFirst/first/migrations/__pycache__
/VueTest/youtube/3.number_baseball/dist
/VueTest/youtube/3.number_baseball/node_modules
/VueTest/youtube/4.response_check/dist
/VueTest/youtube/4.response_check/node_modules
/VueTest/youtube/5.rps/dist
/VueTest/youtube/5.rps/node_modules
/VueTest/withFlask/__pycache__
/MyTask/config/__pycache__
/MyTask/frontend/__pycache__
/MyTask/frontend/templates/dist
/MyTask/frontend/templates/node_modules
/MyTask/server/__pycache__
/MyTask/frontend/migrations/__pycache__
/MyTask/server/migrations/__pycache__
/MyTask/db.sqlite3
/VueTests/e-learning/9.test/nodejs/node_modules
/DjangoVue2/node_modules