{% extends "base.html" %}

{% block content %}
<div id="app">

    <h1>{ pageTitle }</h1>

    <form @submit.prevent="createTask">
        <div class="form-group row">
            <div class="col-9">
                <label for="new-task">Create new task</label>
                <input type="text" id="new-task" v-model="task.title" class="form-control"/>
            </div>
            <div class="col-auto mt-auto">
                <button class="btn btn-success">Add Task</button>
            </div>
        </div>
    </form>

    <div class="mt-5">
        <div class="card mb-3" v-for="t, idx in tasks" :key="idx">
            <div class="card-body row justify-content-between px-5">
                { t.title }
                <button type="submit" class="btn-close"></button>
            </div>
        </div>
    </div>

</div>
{% endblock %}