$text1-color: #37474f;          // blue-grey-9
$text2-color: #455a64;          // blue-grey-8
$text3-color: #546e7a;          // blue-grey-7
$text11-color: #eceff1;         // blue-grey-1
$text12-color: #cfd8dc;         // blue-grey-2
$text13-color: #b0bec4;         // blue-grey-3
$text0-color: white;

$app-bg-color: white;
$view-bg-color: white;
$shadow-color: #212121;         // grey-10

$menu-color: #b2dfdb;           // teal-2
$menu-active-color: white;
$menu-bg-color: #2f9688;        // teal
$menu-shadow-color: #24796b;    // teal-8

$page-menu-color: $menu-bg-color;
$page-menu-active-color: $menu-shadow-color;
$page-menu-title-bg-color: $menu-color;
$page-menu-sub-bg-color: #e0f2f1; // teal-1
$page-menu-caption-color: #80cbc4; // teal-3