$app-bg-color: white;
$view-bg-color: white;
$shadow-color: #212121;         // grey-10

$menu-color: #b2dfdb;           // teal-2
$menu-active-color: white;
$menu-bg-color: #2f9688;        // teal
$menu-shadow-color: #24796b;    // teal-8
