{% load static %}
<html>
    <head>
        <title>First</title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>

    <body>
        <h1>First Index</h1>
        <hr/>
        <div id="app">
            Aaaa {{ message }}
        </div>
    </body>

<!--        <script src="{% static 'common/js/vue.js' %}"></script>-->
        <script src="{% static 'first/js/main.js' %}"></script>

<!--    <script>-->
<!--        new Vue({-->
<!--            delimiters: ['[[', ']]'],-->
<!--            el: '#app',-->
<!--            data: {-->
<!--                message: '안녕하세요 Vue!',-->
<!--            }-->
<!--        })-->
<!--    </script>-->


</html>